@keyframes move {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 200% 0;
    }
  }

.svg-option {
    background-color: #374447;
    border-radius: 10px;
}

.loader {
    background-color: rgb(255, 102, 102);
    padding: 40px;
    border-radius: 10px;
    border: 2px dashed rgb(255, 147, 147);
    color: rgb(76, 0, 0);
    display: flex;
    justify-content: center;
}
.loader p {
    background-color: rgb(255, 102, 102);
    color: rgb(76, 0, 0);
}

.geo-svg {
    border: 1px solid lightblue;
    padding: 12px;
    border-radius: 10px;
}
.toolkit {
    background-color: red;
}

.checked-preview{

  border: 1px solid black;
  width: 70%;
  margin: 10px;
  border-radius: 10px;
  background-color: #374447;

};
.selected-previewers {
  background-color: transparent;
}
.view-obj {
  padding: 10px;
  border-radius: 10px;
  justify-content: center;
}
.view-obj h1{
  border-bottom: 2px solid lightblue;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.viewer {
  display: inline;
  width: 100%;
  border: 1px solid lightblue;
  border-radius: 10px;
}